<% @no_shade = true %>
<% title "Projects Portfolio" %>

<div class="shade">
Public repository: <%= link_to "github.com/tgrushka", "http://github.com/tgrushka", :target => "_blank" %>
</div>

<% form_tag edit_individual_projects_path do %>

<ul id="sortable">
<% for project in @projects %>
	<% content_tag_for :li, project do %>
		<div class="handle shade">
			<%= check_box_tag "project_ids[]", project.id, false, :id => "project_id_#{project.id}" if admin? %>
			<strong><%= label_tag "project_id_#{project.id}", project.display_name %></strong>
			<%= content_tag(:div, image_tag(project.image)) unless project.image.blank? %>
			<%= content_tag(:div, simple_format(project.description)) unless project.description.blank? %>
			<%= content_tag(:div, link_to("View Site", project.url, :target => "_blank")) unless project.url.blank? %>
			<% if admin? -%>
		    <%= link_to 'Show', project %> |
		    <%= link_to 'Edit', edit_project_path(project) %> |
		    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
			<% end -%>
		</div>
	<% end %>
<% end %>
</ul>

<div style="clear: both; height: 50px"></div>

<% if admin? %>
<p>
  <%= select_tag :field, options_for_select([["All Fields", ""], ["Name", "name"], ["Client", "client"], ["URL", "url"], ["Description", "description"]]) %>
  <%= submit_tag "Edit Checked" %>
</p>
	<%= sortable_element("sortable", :url => sort_projects_path, :handle => "handle") %>
<% end %>

<% end %>

<%= link_to 'New project', new_project_path if admin? %>
